.lists
{
  display:flex;
}

.listbuttons
{
  background-color: #8566aa;
    border: none;
    color: white;
    padding-bottom: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 50%;
    width: 28px;
    margin-right: 12px;
}
.hovers:hover
{
  background-color: red;
}